:host ::ng-deep {
  .auth-section {
    padding: 5rem 0;
  }

  .link {
    font-weight: 500;
    color: rgb(25 135 84);
  }

  .mat-form-field-prefix {
    margin-right: 6px;
  }

  .mat-form-field {
    width: 100%;
  }
}
