<div *ngIf="formGroup" class="row">
  <div class="col-12 col-lg-4 offset-lg-4">
    <mat-card class="example-card">
      <form *ngIf="!isUserCreated"
            [formGroup]="formGroup" (submit)="submit()">
        <mat-card-title align="center">User Registration</mat-card-title>
        <mat-card-subtitle align="center">
          If you have an account please
          <a [routerLink]="['/auth/login']">click here</a> to login
        </mat-card-subtitle>

        <mat-card-content>
          <div class="mb-3">
            <mat-form-field appearance="legacy">
              <mat-icon matUser matPrefix>account_box</mat-icon>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="!!(formGroup.get('name')?.touched
               && formGroup.get('name')?.hasError('required'))">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="legacy">
              <mat-icon matUser matPrefix>email</mat-icon>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="!!(formGroup.get('email')?.touched
               && formGroup.get('email')?.hasError('required'))">
                Email is required
              </mat-error>
              <mat-error *ngIf="!!(formGroup.get('email')?.touched
               && formGroup.get('email')?.hasError('email'))">
                Please use a valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="legacy">
              <mat-icon matUser matPrefix>visibility_off</mat-icon>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password">
              <mat-error *ngIf="!!(formGroup.get('password')?.touched
                && formGroup.get('password')?.hasError('required'))">
                Password is required
              </mat-error>
              <mat-error *ngIf="!!(formGroup.get('password')?.touched
                && formGroup.get('password')?.hasError('minlength'))">
                {{ 'Password should be at least ' +
              (formGroup.get('password')?.getError('minlength')['requiredLength']) + ' characters'}}
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="isUserExist">
            <p class="text-danger">{{errorMessage}}</p>
          </div>
        </mat-card-content>

        <mat-card-actions align="end">
          <button [routerLink]="['/auth/login']" mat-raised-button>
            Login
          </button>
          <button type="submit" mat-raised-button color="primary">
            Register
          </button>
        </mat-card-actions>
      </form>

      <div *ngIf="isUserCreated">
        <p class="text-success">Your account is created successfully.
          Please <a [routerLink]="['/auth/login']" class="link">click here</a> to login
        </p>
      </div>
    </mat-card>
  </div>
</div>
