:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card {
  cursor: pointer;
  background: #e7e7e7;
  max-width: 400px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  transition: 0.2s background-color;
  outline: none;
}

.user-card:hover {
  background: #3f51b5;
  color: white;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.mat-card-title {
  font-size: 16px;
}

.mat-card-content {
  margin-left: 16px;
}

.mat-card-image {
  margin: 0;
  border-radius: 50%;
  height: 46px;
  width: auto;
  max-width: 46px;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

::ng-deep .mat-paginator-container {
  justify-content: center !important;
}

